In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("tester.csv", sep=",")

In [3]:
data

   Customer  Country  Phone
0          1      GB  123457
1          1      GB  123458
2          2      CH  441775
3          2      GB  441775
4          3      GB  234567
5          3      FR  123456

In [5]:
def conditions(country, phone):
    if country == 1  and phone == 1:
        k = "no change in country and phone"
    elif country == 1 and phone >1: 
        k = "Change in phone only, no change in country"
    elif country >1 and phone ==1: 
        k = "change in country but no change in phone"
    else:
        k = "change in country and phone"
    return k

In [4]:
a_list = []

In [7]:
for i in range(len(data)):
    data2 = data[data["Customer "] == data["Customer "][i]]
    uniq_country  = data2["Country"].nunique()
    uniq_phone  = data2["Phone "].nunique()
    k = conditions(uniq_country, uniq_phone)
    a_list.append(k)

In [9]:
a_list

['Change in phone only, no change in country',
 'Change in phone only, no change in country',
 'change in country but no change in phone',
 'change in country but no change in phone',
 'change in country and phone',
 'change in country and phone']

In [10]:
a_list = pd.DataFrame(a_list, columns = ["Status"])

In [11]:
data = pd.concat([data, a_list], axis = 1)

In [12]:
data

   Customer  Country  Phone                                       Status
0          1      GB  123457  Change in phone only, no change in country
1          1      GB  123458  Change in phone only, no change in country
2          2      CH  441775    change in country but no change in phone
3          2      GB  441775    change in country but no change in phone
4          3      GB  234567                 change in country and phone
5          3      FR  123456                 change in country and phone